language: ruby
rvm:
- 2.3.3

# Intented to deal with html_proofer failing SSL checks
sudo: required
before_install:
 - sudo update-ca-certificates

before_script:
 - chmod +x ./script/cibuild # or do this locally and commit
 - chmod +x ./script/deploy
 - openssl aes-256-cbc -K $encrypted_f2f3ea99b7d4_key -iv $encrypted_f2f3ea99b7d4_iv -in deploy_key.enc -out deploy_key -d


# Assume bundler is being used, therefore
# the `install` step will run `bundle install` by default.
script: ./script/cibuild

after_success:
  - script/deploy

# branch whitelist, only for GitHub Pages
branches:
  only:
  - gh-pages     # test the gh-pages branch
  - /pages-(.*)/ # test every branch which starts with "pages-"

env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer
  - ENCRYPTION_LABEL: "f2f3ea99b7d4"
  - COMMIT_AUTHOR_EMAIL: "nodeschool.montreal+travis@gmail.com"

#sudo: false # route your build to the container-based infrastructure for a faster build

