$base                 : #443333 // gray
$accent               : #A51C1C // red
$highlight            : #e5e1cf // beige
$secondary            : #e5e1cf // beige
$tertiary             : #544f3b // dark beige
